<h1>Jobs</h1>

<% @jobs.each do |job| %>
  <ul>
    <li><%= link_to job.title, job %> - <%= job.company.name%> - <%= job.company.location%> - <%= link_to "Delete", job, method: :delete %></li>
  </ul>
<% end %>
